.footerContainer{
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 1rem;
    gap: 0.5rem;
    margin-right: 56px;
}

.footerText{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 700;
    font-size: 0.85rem;
    line-height: 12px;
    margin-bottom: 0;
    /* Poss/Text/main */

    color: #3E3E3E;
}